div.bar{
    background-color: white;
}
a.name{
    background-color: black;
}


h1, h2, h3, h4, h5, h6 {
    color:darkslategrey;
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 1em 0;
}

input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: #f7f7f7;
		border-radius: 0.35em;
		border: solid 2px transparent;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 0.75em;
		text-decoration: none;
		width: 100%;
	}
    input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #5b26d7;
		}
        ul.actions {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            cursor: default;
            list-style: none;
            margin-left: -1em;
            padding-left: 0;
        }
    
            ul.actions li {
                padding: 0 0 0 1em;
                vertical-align: middle;
            }
    
            ul.actions.special {
                -moz-justify-content: center;
                -webkit-justify-content: center;
                -ms-justify-content: center;
                justify-content: center;
                width: 100%;
                margin-left: 0;
            }
    
                ul.actions.special li:first-child {
                    padding-left: 0;
                }
    
            ul.actions.stacked {
                -moz-flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                margin-left: 0;
            }
    
                ul.actions.stacked li {
                    padding: 1.3em 0 0 0;
                }
    
                    ul.actions.stacked li:first-child {
                        padding-top: 0;
                    }
    
            ul.actions.fit {
                width: calc(100% + 1em);
            }
    
                ul.actions.fit li {
                    -moz-flex-grow: 1;
                    -webkit-flex-grow: 1;
                    -ms-flex-grow: 1;
                    flex-grow: 1;
                    -moz-flex-shrink: 1;
                    -webkit-flex-shrink: 1;
                    -ms-flex-shrink: 1;
                    flex-shrink: 1;
                    width: 100%;
                }
    
                    ul.actions.fit li > * {
                        width: 100%;
                    }
    
                ul.actions.fit.stacked {
                    width: 100%;
                }
    
            @media screen and (max-width: 480px) {
    
                ul.actions:not(.fixed) {
                    -moz-flex-direction: column;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    margin-left: 0;
                    width: 100% !important;
                }
    
                    ul.actions:not(.fixed) li {
                        -moz-flex-grow: 1;
                        -webkit-flex-grow: 1;
                        -ms-flex-grow: 1;
                        flex-grow: 1;
                        -moz-flex-shrink: 1;
                        -webkit-flex-shrink: 1;
                        -ms-flex-shrink: 1;
                        flex-shrink: 1;
                        padding: 1em 0 0 0;
                        text-align: center;
                        width: 100%;
                    }
    
                        ul.actions:not(.fixed) li > * {
                            width: 100%;
                        }
    
                        ul.actions:not(.fixed) li:first-child {
                            padding-top: 0;
                        }
    
                        ul.actions:not(.fixed) li input[type="submit"],
                        ul.actions:not(.fixed) li input[type="reset"],
                        ul.actions:not(.fixed) li input[type="button"],
                        ul.actions:not(.fixed) li button,
                        ul.actions:not(.fixed) li .button {
                            width: 100%;
                        }
    
                            ul.actions:not(.fixed) li input[type="submit"].icon:before,
                            ul.actions:not(.fixed) li input[type="reset"].icon:before,
                            ul.actions:not(.fixed) li input[type="button"].icon:before,
                            ul.actions:not(.fixed) li button.icon:before,
                            ul.actions:not(.fixed) li .button.icon:before {
                                margin-left: -0.5em;
                            }
    
            }
    
    /* Button */
    
        input[type="submit"],
        input[type="reset"],
        input[type="button"],
        .button {
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            appearance: none;
            -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
            background-color: transparent;
            border-radius: 0.35em;
            border: solid 3px #efefef;
            color: #787878 !important;
            cursor: pointer;
            display: inline-block;
            font-weight: 400;
            height: 3.15em;
            height: calc(2.75em + 6px);
            line-height: 2.75em;
            min-width: 10em;
            padding: 0 1.5em;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
        }
    
            input[type="submit"]:hover,
            input[type="reset"]:hover,
            input[type="button"]:hover,
            .button:hover {
                border-color: #5b26d7;
                color: #5b26d7 !important;
            }
    
            input[type="submit"]:active,
            input[type="reset"]:active,
            input[type="button"]:active,
            .button:active {
                background-color: rgba(73, 191, 157, 0.1);
                border-color: #5b26d7;
                color: #5b26d7 !important;
            }
    
            input[type="submit"].icon,
            input[type="reset"].icon,
            input[type="button"].icon,
            .button.icon {
                padding-left: 1.35em;
            }
    
                input[type="submit"].icon:before,
                input[type="reset"].icon:before,
                input[type="button"].icon:before,
                .button.icon:before {
                    margin-right: 0.5em;
                }
    
            input[type="submit"].fit,
            input[type="reset"].fit,
            input[type="button"].fit,
            .button.fit {
                min-width: 0;
                width: 100%;
            }
    
            input[type="submit"].small,
            input[type="reset"].small,
            input[type="button"].small,
            .button.small {
                font-size: 0.8em;
            }
    
            input[type="submit"].large,
            input[type="reset"].large,
            input[type="button"].large,
            .button.large {
                font-size: 1.35em;
            }
    
            input[type="submit"].primary,
            input[type="reset"].primary,
            input[type="button"].primary,
            .button.primary {
                background-color: #49bf9d;
                border-color: #49bf9d;
                color: #ffffff !important;
            }
    
                input[type="submit"].primary:hover,
                input[type="reset"].primary:hover,
                input[type="button"].primary:hover,
                .button.primary:hover {
                    background-color: #5b26d7;
                    border-color: #5b26d7;
                }
    
                input[type="submit"].primary:active,
                input[type="reset"].primary:active,
                input[type="button"].primary:active,
                .button.primary:active {
                    background-color: #5b26d7;
                    border-color: #5b26d7;
                }
    
            input[type="submit"].disabled, input[type="submit"]:disabled,
            input[type="reset"].disabled,
            input[type="reset"]:disabled,
            input[type="button"].disabled,
            input[type="button"]:disabled,
            .button.disabled,
            .button:disabled {
                background-color: #e7e7e7 !important;
                border-color: #e7e7e7 !important;
                color: #b2b2b2 !important;
                cursor: default;
            }