html, body, ul {      /* aqui o que importa é o UL, o resto é pra estética do demo.          */
    position:relative;  /* reset do position, não relacionado ao demo, mas bom pra uso geral.  */
    margin:0;           /* Zeramos as margens e o padding do UL para as células.encostarem     */
    padding:0;
    width:100%;         /* por default, os blocos são 100%, mas vamos garantir isso.           */
    height:100%;        /* aqui foi feito pra fins de demonstração apenas.                     */
  }

body{
    background-color: #111;
}

.topo{
    height: 45px;
    background-color: #444444;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1;
}


.img-barra-lateral{
    position: relative;
    opacity: 0.8;
    border-radius: 0px 5px 5px 0px;
    height: 1520px;
    float: left;
}
.my-img {
    position:absolute;
    top:60px;
    left: 180px;
    border:5px solid #EDE6DB;
    border-radius: 360px;
}

.my-img:hover {
    animation: bounce 1s infinite alternate;
        -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }


.corpo-do-site {
    display: inline-block;
    padding-top: 50px;
    position: relative;
    width: 68%;
}

h1, h2, h3, h5, h6 {
    color: #F4F4F4;
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 1em 0;
    font-family: 'Righteous', cursive;
}

#li-name {
    font-family: Arial, Helvetica, sans-serif;
    
}

p{
    color: #F4F4F4;
    font-family: 'Merriweather', serif;
}
.table-projects{
    color: #F4F4F4;
    display: flex;
    justify-content: center;
}

hr {
    border: 0;
    border-bottom: solid 2px #417D7A;
    margin: 2em;
}

.my-name {
    font-size: 3rem;
    font-family: 'Righteous', cursive;
    position: absolute;
    top: 300px;
    left: 80px;
    color: #fff;
    background: linear-gradient(271deg,#fff 30%,#1363DF 50%,#47B5FF 70%,#fff 94%);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.partes, .skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        
}
.partes:hover, .my-name:hover {
    text-shadow: 0px 0px 100px;
    animation: animate 2s infinite linear;
}

@keyframes animate{
    0%,
    100% {
        color: #00AF91;
    }
    25% {
        color:#14C38E;
    }
    50% {
        color: #417D7A;
    }
    75% {
        color: #1D5C63;
    }
}

.profs{
    display:flex;
    justify-content: center;
    
}

ul{
    left: 40px;
}

li {                     
    display:block;
    list-style-type: none;    
    margin:0;                  
    box-sizing: border-box; 
    height: 25%;                       
}

li:nth-child(odd) {          /* este css será aplicato nos LI impares (1, 3, 5... ).         */
    clear:both;                /* forçamos a quebra de linha por segurança...                  */
    float:left;                /* ... e o alinhamos à esquerda.                                */
    width:50%;                 /* Aplicamos 50% na esquerda, os da direita "herdam" o resto.   */
  }

.imagem-projeto {
    width: 400px;
    border-radius: 20px;
    margin: 20px;

}


.imagem-projeto:hover{
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.10);
}


.about{
    position: absolute;
    top: 350px;
    left: 150px;
    color: #fff;
}

.top-about{
    margin: 10px 10px auto 10px;
}