.title {
    text-align: center;
    position: relative;
    top: 100px;
}

.imagem {
    text-align: center;
    position: relative;
    top: 100px;
}

.number {
    text-align: center;
    position: relative;
    top: 120px;
}