body{
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
}

p{
    font-family: "Montserrat";
    font-weight: 300;
    color: #8f8f8f;
}

/* Headings */
.big-heading, .section-heading{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

/* Sections */

.colored-section{
    background-color: #EC255A;
}

.white-section{
    background-color: #FFFFFF;
}



/* Navigation Bar */

.container-fluid{
    padding: 3% 15% 10%;
}

.title-font{
    font-weight: 600px;
}

.navbar{
    padding:0 0 4.5rem;
}

.nav-item{
    margin-left: 18px;
    margin-right: 18px;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-link{
    font-size: 1.2;
    font-weight: 300;
}

.btn-download {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
    background-color: #FF0063;
    color: #FFFFFF;
    text-align: left;
}

/* Title Img */

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 10%;
}


.img-div{
    position: relative;
    text-align: right;
}

/* Features */

#features{
    padding: 7% 15%;
    position: relative;
    
}

.feature-box {
    padding: 4.5%;
}

.fa-solid{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fa-solid:hover{
    color: #FF0063;
}

.feature-title{
    font-weight: 700;
    font-size: 1.5rem;
}

/* Testemunial Section  */

#testimonials{
    color: #FFFFFF;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

.carousel-item{
    padding: 7% 15%;
}

.test-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
    padding: 100px;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

.pricing-col{
    padding: 3% 2%;
}

@media (max-width: 1200px){
    #title{
        text-align: center;
    }


    .title-img{
        position: static;
        transform: rotate(0);
    }

    .img-div{
        text-align: center;
    }
}

/* Call to Action */

#cta{
    padding: 7% 15%;
    color: #FFFFFF;
}

/* Footer */

#footer{
    padding: 5%;
}

#footer i{
    color: black;
    margin: 20px 10px;
}

@media (max-width: 900px){
    .cta-heading{
        font-size: 2rem;
        line-height: 1.5;
    }
}